
@model Product

 <h2>Edit Product</h2>
@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.LabelFor(m => m.ProductName)
    @Html.TextBoxFor(m => m.ProductName)
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)
    @Html.LabelFor(m => m.Company)
    @Html.TextBoxFor(m => m.Company)

<input type="submit" value="Save Changes" />
 
}


 




